@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.header{

}
.bg-product{
    
  background-image: url('https://images.unsplash.com/photo-1515459961680-58264ee27219?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=890&q=80');
  background-repeat: no-repat;
  background-size: cover;
  background-blend-mode: multiply;
}
.john{
  
  background-image: url('https://images.unsplash.com/photo-1578836537282-3171d77f8632?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-repeat: no-repat;
  background-size: cover;
  background-blend-mode: multiply;
}
.img-custtomer-bg{

  background:linear-gradient(
    rgba(0, 0, 0, 0.55), 
    rgba(0, 0, 0, 0.55)
  ),
  url(../public/ourcustomer.jpg)    
  no-repeat top center;

  
   

  height: 100%;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;

}
.customer-grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(4,1fr);
  grid-gap: 15px;
  place-items: center;
  padding: 35px 0;
}
  .text-video{
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-left: 0;
    text-shadow: 0 4px 8px #000;
  }
@media only screen and (max-width: 600px) {
  .customer-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 12px;
    place-items: center;
  }
}
/* .flex-5col{
  background-color: white;
}
.nav-block {
  padding: 0;
  list-style: none;
  display: flex;
 align-items: center;
  justify-content: space-between;
  background-color: white;
}


.nav-block >:nth-child(2){
  
  background-color:  #1F2937;
  
  
}
.nav-block >:nth-child(4){
 
  background-color: #1F2937;

  
} */

.updown:hover{
  margin-top: -50px;
  
}
.reliso{
  transition: top 0.2s ease-out;
  -webkit-transition: top 0.2s ease-out;
  -moz-transition: top 0.2s ease-out;
  -o-transition: top 0.2s ease-out;
}
.centerd{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-block__menu-item {
  border-width: 0;
  text-align: center;
  /* flex: 1;
  display: flex;
   justify-content: center;
  align-items: center;  */
  flex-direction: column;
  min-height: 600px;
  padding-top: 35px;
  
}

@media only screen and (max-width: 600px) {
  .nav-block {
    padding: 0;
    list-style: none;
    display: block;
    min-height: 450px;
    align-items: center;
    
    background-color: white;
  }
  
  .nav-block__menu-item {
    border-width: 0;
    text-align: center;
  
 
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    

  }

  .nav-block >:nth-child(n){
    padding: 100px 0px;
   
    
  }

  .nav-block >:nth-child(2){
    padding: 100px 0px;
    background-color: #1F2937;
    
  }
  .nav-block >:nth-child(4){
    padding: 100px 0px;
    background-color: #1F2937;
  
    
  }

}
